{% assign photo_url = "/assets/bio-photo.jpg" | relative_url %}

<div class="panel-small">
{% include container.html
  label="photo.jpg"
  image_url=photo_url
%}

<div class="container">
  <div class="container-header">
    contact.txt
    <div class="circle-container">
      <div class="circle" style="background-color: red"></div>
      <div class="circle" style="background-color: lime"></div>
    </div>
  </div>
  <div class="container-content">
    <div class="mobile">
      PhD @ PLI
      <details class="nav-dropdown">
        <summary>Follow</summary>
        <nav class="dropdown">
          <a href="https://github.com/nexync">
            <i class="fa-brands fa-github"></i>
            Github
          </a>
          <a href="https://github.com/nexync">
          <i class="fa-brands fa-x-twitter"></i>
            Twitter
          </a>
          <a href="https://github.com/nexync">
            <i class="fa-brands fa-google-scholar"></i>
            G. Scholar
          </a>
          <a href="https://github.com/nexync">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
          </a>
          <a href="https://github.com/nexync">
            <i class="ai ai-semantic-scholar"></i>
            S. Scholar
          </a>
          <a href="https://github.com/nexync">
            <i class="ai ai-orcid"></i>
            OrcID
          </a>
        </nav>
      </details>
      <div class="overlay"></div>
    </div>
    <div class="no-mobile">
      <div style="margin: 0px auto; font-size: 1.5em;">
        Jeffrey Cheng
      </div>
      <div style="margin: 20px auto 0px auto; font-size: 1.2em">
        PhD @ Princeton PLI
      </div>
      <hr>
      <div class="link">
        <a href="https://github.com/nexync" target="_blank">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
        <a href="https://x.com/jeff_cheng_77" target="_blank">
          <i class="fa-brands fa-x-twitter fa-2x"></i>
        </a>
        <a href="https://scholar.google.com/citations?hl=en&user=MWN7IR4AAAAJ" target="_blank">
          <i class="fa-brands fa-google-scholar fa-2x"></i>
        </a>
      </div>
      <hr>
      <div class="link">
        <a href="https://www.linkedin.com/in/jeffrey-cheng-nx7/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a href="https://www.semanticscholar.org/author/Jeffrey-Cheng/2292210330" target="_blank">
          <i class="ai ai-semantic-scholar ai-2x"></i>
        </a>          
        <a href="https://orcid.org/my-orcid?orcid=0009-0003-2918-0324" target="_blank">
          <i class="ai ai-orcid ai-2x"></i>
        </a>
      </div>
      <hr>
      <p style="text-align: center; margin: 0 auto;">
        Contact me via X or email:
        <br>
        jc93 at princeton dot edu
      </p>
    </div>
  </div>
</div>

</div>

