<div class="container" {% if include.image_url %} style="border-radius: 4px 4px 0px 0px;" {% endif %}>
  <div class="container-header">
    {{ include.label }}
    <div class="circle-container">
      <div class="circle" style="background-color: red"></div>
      <div class="circle" style="background-color: lime"></div>
    </div>
  </div>
  <div class="container-content" {% if include.image_url %} style="padding: 0; margin: 0;" {% endif %}>
    {% if include.image_url %}
        <img src="{{ include.image_url }}" style="display: block; width:100%; height:auto;"/>
    {% endif %}
    {% if include.content %}
      {{ include.content | raw }}
    {% endif %}
  </div>
</div>