body {
    background-color: #1c1c1d;
    color: aliceblue;
    cursor: crosshair;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a, a:visited, a:active, a:focus {
    color: lightsteelblue; 
    text-decoration: underline;
}

a:hover {
    color:#00FF41;
}

.overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.2);
    display: none;
    z-index: 5;
}

.dropdown[open] .dropdown-content {
  display: block;
}



.layout {
    width: min(1200px, 95%); 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between;
    column-gap: 1em;
}

.header {
    margin: 1em auto;
    font-size: 1.5em; 
    font-family: 'White Rabbit Regular', sans-serif;
    width: min(1200px, 95%); 
    margin: 1em auto; 
    display: flex; 
    justify-content: space-between;
}

.header a {
    color: aliceblue;
    text-decoration: none;
}

.header a:hover {
    color: #00FF41
}

.header a div {
    position: relative;
    display: block;  
    padding: 0.1em;
}

.header a div::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00FF41;
    transition: width 0.3s ease, left 0.3s ease;
}

.header a div:hover::after {
    width: 100%;
    left: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-dropdown {
    display: none;
}

.header .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0%;
    background: #1c1c1d;
    min-width: 150px;
    z-index: 15;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid aliceblue;
}

.header .dropdown a {
    text-decoration: none;
    text-align: right;
    margin: 0.2em 0;
}


.header .nav-dropdown summary {
    z-index: 15;
}

.header details[open] ~ .overlay {
    display: block;
}

.container .nav-dropdown summary {
    color: lightsteelblue;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid lightsteelblue;
    border-radius: 4px;
    list-style: none;
    z-index: 10;
}


.container .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* shift back by half width */
    background: #1c1c1d;
    width: 100px;
    z-index: 10;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid aliceblue;
    margin-top: 0.5em;
}

.container .dropdown a {
    text-decoration: none;
    text-align: center;
    margin: 0.3em auto;
}

.container details[open] summary {
    color: #00FF41;
    border-color: #00FF41;
}

.container details[open] ~ .overlay {
    display: block;
}


.container {
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: #101010;
    margin: 1em auto;
    font-size: 1.1em;
}

.panel-small {
    width: 250px;
}

.panel-normal {
    width: 500px;
}

.panel-large {
    width: 850px;
}

.section {
    font-size: 2em;
    margin-top: 0.5em;
}

.container-header {
    background-color: rgba(0, 0, 0, 1);
    padding: 3px 10px;
    margin: 1px;
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'White Rabbit Regular', sans-serif;
}

.circle-container {
    display: flex;
    align-items: center;
    width: 30px;
    justify-content: space-between;
}

.circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 0;
}

.container-content {
    padding: 1em;
    border-top: 1px solid lightgrey;
}

.container-content p {
    margin: 0 auto
}

.link {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
}

.link i {
    color: aliceblue
}

.link i:hover {
    color: #00FF41;
}

.list {
    margin: 0 auto;
}

.vertical-line {
  width: 1px;
  height: 1em;           
  background-color: aliceblue; 
  margin: 0 0.5em;
}

.year {
    text-align: right;
    font-size: 2em;
    margin-top: 0.5em
}

.paper-title {
    font-size: 1.3em;
    margin-bottom: 0.7em;
}

.paper-authors {
    font-size: 1em;
}

.paper-conference {
    font-size: 1em;
    font-style: italic;
}

.paper-links {
    margin-top: 1em;
}

.paper-link-button {
    display: inline-block;
    background-color: #101010;
    color: aliceblue;
    border: 1px solid lightsteelblue;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 0.75em;
    text-align: center;
}

.paper-link-button:visited {
    color: inherit;
}

.paper-link-button:hover {
    color: #00FF41;
    border-color: #00FF41;
}

.highlight {
    text-decoration: underline;
}

:target {
    animation: flashBorder 2s ease;
}

.mobile {
    display: none;
}

#square {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    top: 0;
    left: 0;
}

#arena {
    position: relative;
    margin: 24px auto;
    border: 2px solid #333;
    background: #111;
    overflow: hidden; /* keep square clipped inside */
}


@keyframes flashBorder {
  0%   { border-color: aliceblue; }
  50%  { border-color: #00FF41; }
  100% { border-color: aliceblue; }
}

@media (max-width: 600px) {
    .nav-bar {
        display: none;
    }
    .nav-dropdown {
        position: relative;
        display: flex;
        background-image: none;
    }

    .layout {
        flex-direction: column;
    }
    .panel-small, .panel-normal, .panel-large {
        display: flex;
        width: 100%;
    }
    .v {
        flex-direction: column;
    }
    .panel-small:not(.v) .container {
        width: 40%;
    }

    .no-mobile {
        display: none;
    }
    .mobile {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        aspect-ratio: 1/1; 
    }
}
