<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jeffrey Cheng">
  <title>About Me - Jeffrey Cheng</title>

  <!-- Favicon (optional) -->
  <link rel="icon" href="../_assets/favicon_io/favicon.ico" type="image/x-icon">

  <!-- CSS (optional, create styles.css if needed) -->
  <link rel="stylesheet" href="../_assets/style.css">

  <script src="https://kit.fontawesome.com/1eccfb7f64.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link href="https://db.onlinewebfonts.com/c/0253e1401c58c5911902cdca02857f0e?family=White+Rabbit+Regular" rel="stylesheet">
</head>

{% include header.html %}

<main>
  {{ content }}
</main>